.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__list > li {
  margin-right: 70px;
}

.footer__list > li:last-child {
  margin: 0;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer__logo > span {
  color: #2196F3;
}

.footer__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__network > li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer__network > li:hover,
.footer__network > li:focus {
  background-color: #2196F3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__network > li:last-child {
  margin-right: 0px;
}

.footer__network-svg {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #ffffff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
}

.footer__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px) rgba(0, 0, 0, 0.15);
          filter: drop-shadow(0px 4px 4px) rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
  outline: 0;
}

.footer__input:focus {
  border: 1px solid #2196F3;
}

.footer__subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe-text {
  margin-right: 10px;
}

.footer__subscribe-svg {
  width: 24px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__svg-link {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
/*# sourceMappingURL=footer.css.map */